@use "/styles/mixins" as *;

.home {
  background: var(--bg-color);
  width: 100%;
  height: 100vh;

  &__container {
    @include flexCenter();
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include screen(minsmall) {
      width: 500px;
    }
  }
}
