@use '/styles/mixins' as *;

.foot{
    width: 100%;
    padding: 20px;
    position: fixed;
    bottom: 0;
    align-items: center;
    @include alignColum();


    &__main{
        display: flex;
        gap: 10px;
        padding: 10px;
        font-weight: bolder;
        color : var(--secondary-text-color);
        justify-content: center;
    }

    &__copy{
        align-items: center;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: bolder;
        color: var(--footer-color);
    }
}