@use "/styles/mixins" as *;

.list {
  width: 500px;
  padding: 10px;
  font-size: 18px;

  &__title {
    color: var(--text-color);
    border-bottom: 2px solid var(--border-color);
  }

  &__checks{
    margin: 5px 5px 0 0;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    color: #fff;
    font-weight: bolder;
    font-size: 14px;
    color: var(--card-text-color);
    transition: all 0.3s;

    &:focus{
      outline: none;
    }

    &:hover{
      cursor: pointer;
    }
  }

  &__cards {
    padding: 10px 0;
    @include alignColum();
    justify-content: flex-start;
    gap: 5px;
    overflow-y: auto;
    max-height: 350px;
  }
}
